body {
	font-family: 'Raleway', sans-serif;
	background-color: rgb(235, 233, 233);
}

html {
	scroll-behavior: smooth;
}

.main-content:nth-child(even) {
	background-color: rgb(29, 30, 35)
}

.main-content:nth-child(even) h2 {
	color: white;
}

.main-content {
	padding: 3rem 0;
}

.main-content footer {
	padding: 0;
}

.landing-page {
	height: 100vh;
	background-image: url("images/tobias-van-schneider-9QrjShkAmnM-unsplash.jpg");
	background-size: cover;
	display: grid;
	grid-template-rows: 200px 1fr 200px;
	grid-template-columns: 20% 1fr 20%;
}

h1 {
	font-weight: normal;
	font-size: 40px;
	text-align: center;
	color: white;
	grid-row: 1;
	grid-column: 2;
	justify-self: center;
	align-self: center;
}

.navigation-container {
	grid-row: 3;
	grid-column: 2;
	justify-self: stretch;
	align-self: center;
	flex-wrap: wrap;
}

/* the light blue color */
/* background-color: #E5F2FF; */