body {
	font-family: 'Raleway', sans-serif;
	background-color: rgb(235, 233, 233);
}

html {
	scroll-behavior: smooth;
}

.main-content:nth-child(even) {
	background-color: rgb(29, 30, 35)
}

.main-content:nth-child(even) h2 {
	color: white;
}

.main-content {
	padding: 3rem 0;
}

.main-content footer {
	padding: 0;
}

.landing-page {
	height: 100vh;
	background-image: url("images/tobias-van-schneider-9QrjShkAmnM-unsplash.jpg");
	background-size: cover;
	display: grid;
	grid-template-rows: 200px 1fr 200px;
	grid-template-columns: 20% 1fr 20%;
}

h1 {
	font-weight: normal;
	font-size: 40px;
	text-align: center;
	color: white;
	grid-row: 1;
	grid-column: 2;
	justify-self: center;
	align-self: center;
}

.navigation-container {
	grid-row: 3;
	grid-column: 2;
	justify-self: stretch;
	align-self: center;
	flex-wrap: wrap;
}

.navigation {
	color: white;
	font-weight: bold;
	text-align: center;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 20px;
}

.nav-buttons-container {
	display: flex;
	justify-content: center;
}

.nav-links {
	padding: 0.5rem 1rem;
	margin: 0.5rem 1rem;
	background-color: white;
	border-radius: 5px;
	cursor: pointer;
	border: none;
	min-width: 100px;
	color: black;
	text-decoration: none;
}

.nav-links:hover {
	background-color: #0198E1;
}

.about-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about-content {
	width: 75%;
}

.about-content p {
	font-size: 24px;
}

.about-description {
	width: 75%;
	margin: 20px auto;
	text-align: center;
}

.project-container {
	display: flex;
	flex-direction: column;
}

.project-content {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-content: space-around;
	margin: 20px;
}

/* .project-button {
	border: 1px solid white;
	padding: 1rem;
	background-color: #0198E1;
	border-radius: 5px;
	color: white;
} */

a:visited,
a:link {
	text-decoration: none;
}

/* maybe go back and fix later so buttons aren't on top of image*/
.project-icon {
	width: 500px;
	height: 270px;
	background-color: lightgrey;
	margin: 20px;
	text-align: center;
	border-radius: 5px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	animation: fade-in 0.5s;
}

/* experimenting with trying to get the buttons to appear differently */
.project {
	transition: all 0.3s ease;
	margin: 25px;
	position: relative;
	height: 270px;
}

.project-button,
.project-button:visited {
	text-decoration: none;
	color: black;
	padding: 15px;
	background: white;
	margin: 10px 0px;
	border-radius: 5px;
}

.project-button:hover {
	background: #0198E1;
	color: white;
}

.project:hover {
	transform: scale(1.1)
}

/*end of experimenting */

.project1 {
	background-image: url("images/Screen Shot 2019-07-18 at 10.46.05 PM.png");
	background-size: 100% 100%;
	background-color: black;
}

.project2 {
	background-image: url("images/Screen Shot 2019-09-06 at 6.34.04 PM.png");
	background-size: 100% 100%;
	background-color: black;
}

.project3 {
	background-image: url("images/Screen Shot 2019-08-27 at 9.42.07 PM.png");
	background-size: 100% 100%;
}

.project-header, .skills-header, .contact-header, .about-header {
	font-weight: normal;
	color: rgb(29, 30, 35);
	font-size: 32px;
	justify-self: center;
	align-self: center;
}

h2:nth-child(even) {
	color: white;
}

.skills-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.skill-list-container {
	padding: 4rem 0;
	width: 80%;
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.skill {
	border: 1px solid transparent;
	color: white;
	background-color: #0198E1;
	padding: 1rem;
	border-radius: 5px;
	width: 120px;
	margin: 1rem;
	text-align: center;
}

.contact-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.contact-form {
	width: 50%;
	margin-bottom: 30px;
	max-width: 400px;
}

.main-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

input, textarea {
	width: 100%;
	margin: 10px;
	box-sizing: border-box;
	overflow: visible;
	resize: none;
}

.name {
	color: #0198E1;
	font-size: 56px;
}

.social-media {
	list-style: none;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 0;
}

.fa {
	font-size: 4rem;
	color: rgb(29, 30, 35);
	margin: 1rem;
}

.fa:hover {
	opacity: 0.6;
}

.submit-form {
	padding: 0.5rem 1rem;
	margin: 1rem 0.5rem;
	background-color: white;
	border-radius: 5px;
	cursor: pointer;
	border: none;
	min-width: 100px;
}

.submit-form:hover {
	background-color: #0198E1;
}

.contact-message {
	color: #0198E1;
}


@media only screen and (max-width: 560px) {
	h1 {
		font-size: 30px;
		margin-top: 100px;
	}
	.name {
		font-size: 32px;
	}
	.nav-buttons-container {
		flex-direction: column;
	}
	.nav-links {
		min-width: 60px;
	}
	.project-icon {
		width: 90%;
		height: 170px;
	}
}