/* @media only screen and (max-width: 450px) {
	.nav-bar {
		margin: auto 5%;
	}
}

body {
	background-color: #E5F2FF;
}

header {
	display: flex;
	justify-content: center;
	font-size: 25px;
}

.nav-bar {
	margin: auto 10%;
}

a {
	text-decoration: none;
	color: black;
}

.middle {
	display: flex;
	justify-content: center;
}

.middle-grid-1 {
	display: grid;
	grid-template-rows: 150px 150px;
}

.middle2 {
	border: 5px double black;
	grid-row: 2 / span 1;
	display: flex;
	justify-content: left;
}

.middle-grid-2 {
	display: grid;
	grid-template-rows: 90px 200px;
	grid-template-columns: 180px 200px 180px;
}

.bio {
	font-size: 36px;
	font-weight: bolder;
	display: inline-block;
	white-space: nowrap;
}

p {
	margin-top: 40px;
	margin-left: 20px;
}

.text-muted {
	color: #696969;
} */